@import "./var";
@import "./mixin";

* {
  box-sizing: border-box !important;
  -webkit-tap-highlight-color: transparent;
}


// 布局（grid）（.g-）；模块（module）（.m-）；元件（unit）（.u-）；功能（function）（.f-）；皮肤（skin）（.s-）；状态（.z-）

::-webkit-scrollbar {
  display: none;
}
input:-webkit-autofill,textarea:-webkit-autofill,select:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; }

// 引入字体

@font-face {
  font-family: arial;
  src: url('/static/fonts/arial.ttf') format('truetype');
}
@font-face {
  font-family: 'SourceHanSansCN Light';
  src: url('/static/fonts/SourceHanSansCN-Light.otf') format('truetype');
}
@font-face {
  font-family: 'SourceHanSansCN Regular';
  src: url('/static/fonts/SourceHanSansCN-Regular.otf') format('otf');
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('/static/fonts/CenturyGothicbold.TTF') format('truetype');
}

// 公共样式
body {
  background: $color-white;
  color: $color-black;
  font: 14px/1.5  Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, ul, li, ol {  margin: 0; padding: 0; line-height: 1; }
h1,
h2,
h3,
h4,
h5
{
  font-weight: normal;
}
h2 {
  font-family: "SourceHanSansCN Light"
}
a {
  color: inherit;
  text-decoration: none;
}
button {  background-color: transparent; border: 0; outline: none; cursor: pointer; }
ul, li { list-style: none; }

:focus {
  outline: none;
}

// iconfont
.icon {
  fill: currentColor; // 通过设置 color 来改变 SVG 的颜色/fill
  height: 1em; // 通过设置 font-size 来改变图标大小
  overflow: hidden; // path 和 stroke 溢出 viewBox 部分在 IE 下会显示，normalize.css 中也包含这行
  vertical-align: -0.15em; // 图标和文字相邻时，垂直对齐
  width: 1em; // 通过设置 font-size 来改变图标大小
}

.left {  float: left; }
.right { float: right; }
.btn-close {
  color: $color-white;
  cursor: pointer;
}

// videojs-background
.videojs-background-wrap {
  height: 100% !important;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100% !important;
  z-index: -998;
}

// 功能性样式 为方便一些常用样式的使用，我们将这些使用率较高的样式剥离出来，按需使用

// 全屏
.f-fullscreen {
  height: 100vh;
  min-height: 540px;
  max-height: 770px;
}

.f-content__wrap { // 内容包裹块
  width: $main-content-width;
  margin: 0 auto;
}

.clearfix { // 清除浮动
  &:after { content: ""; display: block; height: 0;clear: both; }
}

#mobile {
  .f-content__wrap {
    width: 100%;
    padding: 0 1.333333rem;
  }
}

// 垂直等分布局
.f-divide__column--inline {
  text-align: justify;
  &:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
  }
  .item {
    display: inline-block;
    vertical-align: top;
  }
}


h2 {
  font-size: $font-size-title;
}
h3 {
  font-size: $font-size-title-sub;
}

// 元件（unit）（.u-）：通常是一个不可再分的较为小巧的个体，通常被重复用于各种模块中！比如按钮、输入框、loading、图标等！
.u-btn__primary {
  @include btn(56px, $font-size-btn, $color-primary);
  color: $color-primary;
  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}
.u-btn__white {
  @include btn(56px, $font-size-btn, $color-white);
  background-color: transparent;
  // &:hover {
  //   background-color: $color-primary;
  //   border-color: $color-primary;
  // }
}
.u-btn__form {
  @include btn(56px, 16px, $color-light-blue);
  background-color: $color-light-blue;
  color: $color-white;
}

// 分页
.y-pagination {
  li {
    border: 1px solid #E9E9E9;
    float: left;
    height: 34px;
    line-height: 32px;
    margin: 0 5px;
    text-align: center;
    width: 34px;
    &.active {
      border-color: #0033DD;
      background: #0033DD;
      color: #fff;
    }
  }
}

// 文件上传
.y-upload {
  position: relative;
  input {
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}


// 移动端
#mobile {
  h2 {
    font-size: 1.66rem;
    line-height: 1.33rem;
    margin-bottom: 1.33rem;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 1.33;
  }
  p {
    font-size: 1.13rem;
    line-height: 1.43;
  }
  .u-btn__primary {
    @include btn(3.333333rem, 1rem, $color-primary);
    padding: 0 1.666667rem;
  }
  .u-btn__blue {
    @include btn(3rem, .933333rem, $color-white);
    background-color: $color-primary;
  }
  .u-btn__white {
    @include btn(2rem, 1rem, $color-white);
    background-color: transparent;
  }
}


// fix
.job__ctn {
  * {
    line-height: 1.5;
  }
}
